<div class="row h-75">
    <div class="col-1">
    </div>
    <div class="col-2" *ngFor="let card of tableCards">
        <playing-card [playingCard]="card" [showing]="true" [enlarge]="false"></playing-card>
    </div>
</div>

<div class="row h-25 p-1">
    <div class="col-3">
        Total Pot: $999,999.99
    </div>
    <div class="col-3">
        Side Pot 1: $999,999.99
    </div>
    <div class="col-3">
        Side Pot 2: $999,999.99
    </div>
    <div class="col-3">
        Side Pot 3: $999,999.99
    </div>
    <div class="col-3">
        Side Pot 4: $999,999.99
    </div>
    <div class="col-3">
        Side Pot 5: $999,999.99
    </div>
    <div class="col-3">
        Side Pot 6: $999,999.99
    </div>
    <div class="col-3">
        Side Pot 7: $999,999.99
    </div>
</div>
